asgiref
attrs
Django>=4.2
django-activity-stream>=1.6.0
django-cors-headers
djangorestframework>=3.14
djangorestframework_simplejwt
drf-spectacular
gunicorn
whitenoise
inflection
jsonschema
jsonschema-specifications
packaging
psycopg2-binary>=2.9.6
PyJWT
python-dotenv
PyYAML
referencing
rpds-py
sqlparse
tzdata
uritemplate
django_fsm