asgiref
attrs
Django
django-activity-stream
django-cors-headers
djangorestframework
djangorestframework_simplejwt
drf-spectacular
gunicorn
whitenoise
inflection
jsonschema
jsonschema-specifications
packaging
psycopg2-binary
PyJWT
python-dotenv
PyYAML
referencing
rpds-py
sqlparse
tzdata
uritemplate
